@import "vars"


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
	.banner__content
		background-color: rgba(173,	41,	38, .8)
	.catalog__item:hover::after
		background-color: rgba(173,	41,	38, .8)
	.footer .filtr-map::after
		background-color:	rgba(89, 89, 89, .2)
	.director-name::before, .director-position::before
		display: none
/*----MS Edge Browser CSS Start----*/
	
@supports (-ms-ime-align:auto)
	.banner__content
		background-color: rgba(173,	41,	38, .8)
	.catalog__item:hover::after
		background-color: rgba(173,	41,	38, .8)
	.footer .filtr-map::after
		background-color:	rgba(89, 89, 89, .2)

/*----MS Edge Browser CSS End----*/	

/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)


// ≥992px
+media-breakpoint-down(md)
	.body-container.active
		margin-left: 0
	.your-orders__col--date, .your-orders__col--summ, .your-orders__col--document
		flex: 0 0 15%
	.your-orders__col--status
		flex: 0 0 25%
	.your-orders__col--name
		flex: 0 0 40%	
	.your_orders
		width: 960px
	.form-tab2--left
		padding: 0
	.form-tab2--right
		padding: 0
		&:before
			display: none
	.form-tab2
		padding: 2.5em 1.5em
	.header__menu-left
		span
			display: none
	.header__menu-left:before
		padding-right: 0	
		font-size: 1.5em
	.hamburger 
		margin-right: 0
	.header-wrapper--small
		.header__nav
			display: none
	.aside-banner
		display: none
	.catalog-filter
		// position: fixed
		top: 0
		bottom: 0
		left: 0
		right: 20%
		padding-top: 6rem
	.aside.active
		transform: translateX(0)
	.aside
		padding-right: 0
		position: fixed
		top: 0
		bottom: 0
		left: 0
		right: 20%
		width: 80%
		max-width: 25rem
		height: 100vh
		z-index: 1100
		overflow: auto
		transform: translatex(-150%)
		transition: .4s ease
	.catalog-filter__toogle-btn
		display: block
// ≥768px
+media-breakpoint-down(sm)
	.about-us-sliders:before, .banner-sliders:before
		width: calc((100vw - 100%)/ 2 + 50%)
	.banner-sliders:before
		right: 50%
	.about-us-sliders:before, .catalog-bg:before
		left: 50%
	.catalog-bg:before
		width: calc((100vw - 100%)/ 2 + 50%)
	
	.footer-left
		margin-left: 0
		padding-left: 0
	.hamb
		height: 100%

	.header-wrapper--small .logo-text
		width: auto
		margin-right: 0.75em

	.header__left-block
		display: none
	.header__menu
		display: flex
		justify-content: space-between
		height: 50px
		.logo
			display: flex
	.logo
		display: none

	.footer #map
		width: 100vw
		margin-left: calc((100vw - 100%) / -2)
		height: 300px
	.footer .filtr-map:after
		width: 100vw	
		left: calc((100vw - 100%) / -2)


	.director__left-block
		display: none
	.director
		&-position, &-name, &-text, .director-content--wrapper.active .director-position
			&:after
				display: none
			&:before
				display: none
	form
		top: 0
		bottom: 0
		right: 0
		left: 0
		padding: 2.5em
		&-button
			padding: 1.075em 2.175em
	.director
		&-name, &-position
			display: none
		&-info
			display: flex
			.director-name, .director-position
				display: block		
	.partners-middle .h1
		padding: 0
	.partners-right
		padding: 0
	.partners-left
		padding: 0
	.partners-middle-block
		padding: 0
		border: none
	.partners-logo
		filter: grayscale(0)
	.clients-slider, .brands-slider
		display: flex
		flex-wrap: wrap
	.partners-middle
		padding: .5em 0
		margin-bottom: 0.5em
	.catalog__slider
		width: 200%
	.nav-buttons__item
		flex: 1 1 40%
	.about-us .nav-container
		left: calc(50% + 2.5rem)

	#hamb
		padding: 0 1.5625rem

	.header-wrapper--small .header__nav-list
		display: none
	.header .search-label
		display: none

	.sorting__buttons
		margin-bottom: -10px
	.sorting__button 
		margin-bottom: 10px

// ≥576px
+media-breakpoint-down(xs)
	.sorting__icons
		height: 100%
		flex-direction: column
		justify-content: space-between
		margin: -5px 0
	.sorting__icon
		border: none
		margin: 5px 0
	.sorting__button 
		padding: 0 10px
	.about-us__text
		max-width: 22.0625em
	.banner__content, .about-us__content, .banner__img ,.about-us__img, .banner__content-slider, .banner__slider 
		height: 470px
	.about-us__content, .banner__content
		padding: 5em 1.5em
	.banner .nav-container
		left: 1.5em
	.change, .partners, .director, .footer-left, .section-title
		padding-right: 1.5em
		padding-left: 1.5em
	.submit-container
		flex-direction: column
		margin: 0
		button
			margin-right: 0
			margin-bottom: 1.5em
			padding: 1.175em 3.375em
	form
		right: -2.5em
		left: -2.5em
		padding: 2.5em
	.footer-left
		padding: 
	.header__login
		margin-right: 1.5em
		&:before
			left: -1.5em
			bottom: 0
	.header__nav a
		margin: 0.45em
	.banner-sliders:before, .about-us-sliders:before, .catalog-bg:before,
		right: 0
		left: 0
		width: 100%
	.catalog
		.section-title
			position: relative
	.header__menu-right-item 
		padding: 0 0.5em
	.header__cart
		padding: 0 1.5em
	.catalog__name 
    padding: .5625em .8125em
	.footer iframe
		margin: 0
	.footer .filtr-map:after
		left: 0
		right: 0
	.footer__nav-list
		flex-direction: row
	.addres ul li
		padding: 0
		&:before
			display: none
	
	.addres-barnaul
		margin-bottom: 1.875em 
	
	.footer-social
		margin-top: 1.875em
	.copyright
		background: linear-gradient(to bottom, $w-grey 50%, $d-grey 50%)
		padding: 0  2.5em

	.copyright-block
		padding: 1em 0
		font-size: .9em

	.header__menu-list--left, .header__menu-list--right
		padding: 0
	.header__nav 
		justify-content: flex-end
	.header__nav-list
		display: none
	.header__search, .header__rating
		display: none
	.header__cart
		border-right: none
	.clients-slider, .brands-slider
		display: flex
		flex-wrap: wrap
	.partners-logo
		flex: 1 1 50%
	.catalog__slider
		width: 100%
	.footer__nav-list
		display: none
	.nav-buttons__item
		flex: 1 1 100%
	.filter
		padding: 0 1.5em
		display: flex
		flex-direction: column
		&__name
			padding-bottom: 0.625em
	.section-lk
		.section-title
	.catalog__slider
		.slick-list
			position: relative
			&:after
				display: none
	.about-us .nav-container
		left: 2.5rem
	.addres
		padding: 0
		&:before
			display: none
	.header__menu-right-item:before
		display: none
	.header .search-label
		display: none
	.header__menu .logo
		padding: 0
		flex: 0 0 8em
	.catalog-page
		padding: 0 1.5rem
	.section-seo
		margin: 0 -1.5rem
		padding-left:  1.5rem
		padding-right:  1.5rem
	.catalog-list
		margin: 0 -1.5rem
	.sorting__icons
		display: none
	.sorting__buttons
		margin: 0
	.crumbs
		display: none
/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
