$d-font: 'pt sans'
$a-font: "roboto-example", sans-serif
$accent: #ad2926
$red: #ad2926
$black: #1a1a1a
$d-grey: #595959
$grey: #808080
$w-grey: #e6e6e6
$text: #333

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
